* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #eee;
  font-family: consolas, monaco, monospace;
  font-size: 1.25rem;
  min-height: 100vh;
  /*overflow: visible;
  word-wrap: normal;*/
  margin: 1rem;
}

/*everything in the header grid container*/

header {
  border: 1px solid red;
}
h1 {
  font-size: 1.7rem;
  font-weight: 200;
  margin: 1rem;
  text-align: center;
}

/*end header*/

.photo-box {
  border: 1px solid red;
}
.masala-photo {
  border-radius: 25%;
  border: grey 1px solid;
  display: block;
  max-width: 100%;
  min-width: 30%;
}
h2 {
  font-size: 0.9rem;
  font-weight: 200;
}

p {
  margin-left: 20px;
}

.ingredients {
  border: 1px solid red;
}

ul {
  list-style-type: none;
  margin-left: 0;
}
.instructions {
  border: 1px solid red;
}
ol li {
  margin-bottom: 0.7rem;
}
.list-image {
  height: 13px;
  width: 13px;
}

a {
  color: #006600;
  text-decoration: none;
}

a:visited {
  color: #525560;
}
a:hover {
  color: #003300;
}

footer {
  border: 1px solid red;
  bottom: 0;
  left: 0;
  position: sticky;
  text-align: center;
  text-align: center;
  top: 100%;
  width: 100%;
}

.home-button {
  height: 28px;
  margin-top: 1rem;
  width: 30px;
}
