* {
  margin-top: 0;
  margin-bottom:0;
}

body {
  background-color: #eee;
  margin-left: 1rem;
  font-family: consolas, monaco, monospace;
  font-size: 1.25rem;
  min-height: 100vh;
  /*overflow: visible;
  word-wrap: normal;*/
}
.header {
  border: 1px solid red;
}

h1 {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 1rem;
  text-align:center; 
}
.photo-box {
  border: 1px solid red;
  margin: 0 auto;
  width: 95%;
}
.masala-photo {
border-radius: 25%;
border: grey 1px solid;
}
.ingredients {
  border: 1px solid red;
}
h2 {
  font-size: .9rem;
  font-weight: 200;
}

p {
  margin-left: 20px;
}

ul {
  list-style-type: none;
  margin-left: 0px;
}
.instructions {
  border: 1px solid red;
}
ol li {
  margin-bottom: .7rem;
}

.list-image {
  width: 13px;
  height: 13px;
}

a {
  color: #006600;
  text-decoration: none;
}

a:visited {
  color: #525560;
}
a:hover {
  color: #003300;
}

footer {
  text-align: center;
  position: sticky;
  top: 100%;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border: 1px solid red;
}

.home-button {
  width:30px;
  height:28px;
  margin-top: 1rem;
}